docs/
.venv/
.venv/bin/activate.csh
assets/
outputs/
data/
annotations/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz   
src/Untitled-1.py
src/view_o3d.py
.preview_cache
.render_cache